<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Welcome to Prasanna Blog</h1>
    {{#each info as |info|}}
    <h1>{{info.title}}</h1>
    <p>{{info.catagories}}</p>
    <p>{{info.content}}</p>
    {{/each}}
</head>

<body>

</body>

</html>